body {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

#mediaToggle, #videoToggle, #photoToggle, #audioToggle {
    color: white;
    /*border: 1px solid var(--borderColor);*/
    cursor: pointer;
    text-align: center;
}

.buttonRow {
    font-family: 'Barrio', cursive;
	width: 100%;
	padding: 0;
	display: flex;
	align-items: center;
}

.mediaButton {
    color: black;
}

iframe {
    width: 100%;
    height: 100%;
    margin: auto;
}

.videoRow {
	width: 100%;
	padding: 0;
	/*display: flex;*/
	align-items: center;
}

.videoDiv {
    width: 100%;
    /*height: 0;*/
    padding-top: 0;
    /*padding-bottom: var(--heightWidthRatio); /* preserves the 16/9 aspect ratio */
    /*margin: 15px 0;*/
    /*border: 1px solid red;*/
}

.video {
    /*border: var(--borderThickness) solid var(--borderColor);*/
    /*display: block;*/
    margin: auto;
}

.photoRow {
    width: 100%;
    padding: 0;
    /*border: 1px solid green;*/
    display: flex;
    align-items: center;
}

.audioRow {
    width: 100%;
    padding: 0;
    align-items: center;
}

.track {
    cursor: pointer;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.viewer {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    /*border: 1px solid white;*/
}

.viewer-m {
    padding-top: 20px;
}

.photoViewerBox {
    position: relative;
    /*border: 1px solid red;*/
}

button {
    border: none;
}

.navButtons {
    position: absolute;
    /*left: 5%;*/
    width: 90%;
    max-width: 1200px;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    /*border: 1px solid blue;*/
    z-index: 3;
}

.navButton {
    font-size: 2em;
    color: white;
    background: black;
}

.close {
    font-size: 1em;
    color: white;
    text-align: center;
    position: relative;
    /*left: 5%;*/
    max-width: 10%;
    height: 30px;
    margin: auto;
    opacity: .8;
}
.close:hover {
    opacity: 1;
}

.previous {
    position: absolute;
    left: 0;
    width: 20%;
    height: 100%;
    text-align: left;
    padding-left: 30px;
    background: rgba(0, 0, 0, 0);
    text-shadow: 0px 2px 2px var(--darkGray);
    /*opacity: 0;*/
}
.previous:active {
    /*background: rgba(0, 0, 0, .5);*/
    background: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background: -webkit-linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    /*opacity: .5;*/
}

.next {
    position: absolute;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: right;
    padding-right: 30px;
    background: rgba(0, 0, 0, 0);
    text-shadow: 0px 2px 2px var(--darkGray);
    /*opacity: 0;*/
}
.next:active {
    /*opacity: .5;*/
    /*background: rgba(0, 0, 0, .5);*/
    background: linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background: -webkit-linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
}

.photoSlide {
    display: none;
    position: relative;
    z-index: 2;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
    /*border: 1px solid red;*/
}

.photoSlide .photo:hover {
    opacity: 1;
}

@media only screen and (max-width: 600px) {
    .photoRow {
        display: block;
    }
}